@import '../../../../scss/abstracts/variables';

.munros {
    display: grid;
    grid-gap: $spacing-3;

    @media screen and (min-width: $breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__card {
        border: 1px solid $grey;
        border-radius: $regular-border-radius;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        padding: $spacing-3;
    }
}
