@import '../abstracts/variables';
@import '../abstracts/mixins';

.button {
    color: $black;
    text-align: center;
    border: 1px solid $border-black;
    font-size: $size-8;
    letter-spacing: $letter-spacing-7;
    padding: $spacing-1 $spacing-2;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
    min-width: 20rem;

    @media screen and (min-width: $breakpoint-medium) {
        width: auto;
    }

    &__tab {
        width: 50%;
        background: none;
        border: none;
        border-bottom: 2px solid transparent;
        min-width: 0;

        @media screen and (min-width: $breakpoint-extra-large) {
            border-bottom: 2px solid transparent;
            width: auto;
        }

        &--active {
            border-bottom: 2px solid $purple;
        }

        &:focus {
            outline: 0;
        }
    }

    &--full {
        width: 100% !important;
    }

    i.right {
        margin-left: $spacing-2;
    }

    i.left {
        margin-right: $spacing-2;
    }

    &--purple {
        background: $purple;
        border: 1px solid $purple;
        color: $white;

        &:hover {
            background: $light-purple;
        }
    }

    &--green {
        background: $green;
        border: 1px solid $green;
        color: $white;
    }

    &--blue {
        background: $blue;
        border: 1px solid $blue;
        color: $white;
    }

    &--white {
        background: $white;
        border: 1px solid $white;
        color: $black;
    }

    &--red {
        background: $error-red;
        border: 1px solid $error-red;
        color: $white;
    }

    &--default {
        background: transparent;
        padding: 0;
        border: 0;
    }

    &:disabled {
        cursor: not-allowed;
        color: $white;
        background: $disabled-grey;
        border: 1px solid $disabled-grey;
    }

    &--large {
        padding: $spacing-2;
    }
}
