<div class="munro">
    <div class="munro__left">
        <h3 class="header header--five no-margin">{{ munroInformation.name }}</h3>
        <p>Height: <strong>{{ munroInformation.height }}m</strong></p>
        <p><i class="fas fa-map-pin"></i> {{ munroInformation.region }}</p>
    </div>
    <div class="munro__right">
        <button
            (click)="updateMunroStatus()"
            class="button"
            [ngClass]="isIncomplete == true ? 'button--green' : 'button--red'">
            mark as {{ isIncomplete ? 'complete ' : 'incomplete ' }}
        </button>
        <button class="button button--purple" (click)="locateMunro(munroInformation.latlng_lat, munroInformation.latlng_lng)">Locate</button>
    </div>
</div>
