<div class="container">
    <section>
        <h1 class="header header--one">Hello, World.</h1>
        <h2 class="header header--two">Stay hungry. Stay foolish</h2>
    </section>
    <section class="styleguide styleguide__columns">
        <div>
            <p class="overline">Overline</p>
            <h6 class="header header--six">Headline 6</h6>
            <p class="small">
                Apparently we had reached a great height in the atmosphere, for
                the sky was a dead black, and the stars had ceased to twinkle.
                By the same illusion which lifts the horizon of the sea to the
                level of the spectator on a hillside, the sable cloud beneath
                was dished out, and the car seemed to float in the middle of an
                immense dark sphere, whose upper half...
            </p>
        </div>
        <div>
            <h4 class="header header--four">Headline 4</h4>
            <h5 class="header header--five">Headline 5</h5>
            <p class="small">
                By the same illusion which lifts the horizon of the sea to the
                level of the spectator on a hillside, the sable cloud beneath
                was dished out, and the car seemed to float in the middle of an
                immense dark sphere, whose upper half was...
            </p>
        </div>
        <div>
            <p>Body 1</p>
            <p class="caption">Caption</p>
            <p>
                By the same illusion which lifts the horizon of the sea to the
                level of the spectator on a hillside, the sable cloud beneath
                was dished out...
            </p>
        </div>
    </section>
    <section>
        <h1 class="header header--one">H1 / Poppins Light</h1>
        <h2 class="header header--two">H2 / Poppins ExtraBold</h2>
        <h3 class="header header--three">H3 / Poppins Regular</h3>
        <h4 class="header header--four">H4 / Poppins Regular</h4>
        <h5 class="header header--five">H5 / Poppins Regular</h5>
        <h6 class="header header--six">H6 / Poppins Medium</h6>
        <p>Body 1 / Poppins Regular</p>
        <p class="small">Body 2 / Poppins Regular</p>
        <p class="subheader subheader--one">Subtitle 1 / Poppins Regular</p>
        <p class="subheader subheader--two">Subtitle 2 / Poppins Medium</p>
        <p class="caption">Caption / Poppins Regular</p>
        <p class="overline">Overline / Poppins Medium</p>
    </section>
    <section>
        <a class="button" href="">Button</a>
        <a class="button button--purple" href="">
            <i class="fal fa-check-square left"></i>
            Button
        </a>
        <button class="button button--green">
            Login
            <i class="fal fa-long-arrow-right right"></i>
        </button>
    </section>
    <section>
        <div class="input__group">
            <input
                class="input__field"
                type="text"
                placeholder="Email Address"
            />
        </div>
        <div class="input__group">
            <input class="input__field" type="text" placeholder="Password" />
        </div>
    </section>
</div>
