<!-- <div class="ml-64 flex-1 h-screen">
	<section class="h-full w-full flex flex-col">
		<div class="bg-white flex-1">
			<section class="flex-1 h-full">
				<div class="h-screen p-12 w-full flex flex-col">
					<div class="mb-4">
						<h1 class="mb-4 font-semibold text-4xl">{{ userService.currentUser.firstname }}</h1>

						<div class="relative w-40 h-40 mb-4">
							<img
								[src]="userService.currentUser.profileImage"
								alt="Profile"
								class="w-full h-full object-cover rounded-full" />

							<input
								type="file"
								id="uploadImage"
								name="image"
								accept="image/*"
								class="hidden"
								(change)="onImageSelect($event, userService.currentUser)" />

							<label
								for="uploadImage"
								class="absolute bottom-2 right-2 w-10 h-10 bg-white rounded-full shadow-md hover:bg-gray-100 transition-colors duration-200 cursor-pointer flex items-center justify-center"
								aria-label="Edit profile picture">
								<fa-icon [icon]="faPen" class="text-gray-600 text-sm"></fa-icon>
							</label>
						</div>

						<div class="mb-4">
							@if(userForm) {
							<form [formGroup]="userForm" (ngSubmit)="updateUser()">
								<div>
									<input
										class="w-full p-3 font-light mb-2 border border-gray-300"
										placeholder="firstname"
										formControlName="firstname"
										type="text" />
								</div>
								<div>
									<input
										class="w-full p-3 font-light mb-2 border border-gray-300"
										placeholder="lastname"
										formControlName="lastname"
										type="text" />
								</div>
								<div>
									<textarea
										class="w-full p-3 font-light mb-2 border border-gray-300"
										placeholder="bio"
										formControlName="bio"
										type="text"></textarea>
								</div>
								<div>
									<button
										class="tracking-wider uppercase text-sm font-semibold bg-gray-800 text-white px-6 py-4 transition cursor-pointer"
										type="submit">
										@if(profileLoading) {
										<app-loading-indicator [spinner]="true"></app-loading-indicator>
										} @else {
										<span>Save</span>
										}
									</button>
								</div>
							</form>
							}
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</div> -->

