.no-margin {
    margin: 0;
}

.margin-bottom-2 {
    margin-bottom: $spacing-2;
}

.margin-bottom-3 {
    margin-bottom: $spacing-3;
}

// $spacing-1: 0.8rem;
// $spacing-2: 1.6rem;
// $spacing-3: 2.4rem;
// $spacing-4: 3.2rem;
// $spacing-5: 4.0rem;
// $spacing-6: 4.8rem;
// $spacing-7: 5.6rem;
// $spacing-8: 6.4rem;
// $spacing-9: 7.2rem;
// $spacing-10: 8.0rem;
// $spacing-11: 8.8rem;
// $spacing-12: 9.6rem;
