@import '../../../node_modules/rfs/scss';
@import '../abstracts/variables';
@import '../abstracts/mixins';

body {
    font-family: $font-family;
    color: $off-black;
}

.header {
    margin: 0 0 $spacing-1 0;

    &--one {
        @include font-size($size-1);
        letter-spacing: $letter-spacing-1;
        font-weight: $font-weight-light;
    }

    &--two {
        @include font-size($size-2);
        letter-spacing: $letter-spacing-2;
        font-weight: $font-weight-extra-bold;
    }

    &--three {
        @include font-size($size-3);
        letter-spacing: 0;
        font-weight: $font-weight-regular;
    }

    &--four {
        @include font-size($size-4);
        letter-spacing: $letter-spacing-3;
        font-weight: $font-weight-regular;
    }

    &--five {
        @include font-size($size-5);
        letter-spacing: 0;
        font-weight: $font-weight-regular;
    }

    &--six {
        @include font-size($size-6);
        letter-spacing: $letter-spacing-3;
        font-weight: $font-weight-medium;
    }

    &--green {
        color: $green;
    }
}

.subheader {
    margin: 0 0 $spacing-1 0;

    &--one {
        @include font-size($size-7);
        letter-spacing: $letter-spacing-5;
        font-weight: $font-weight-regular;
    }

    &--two {
        @include font-size($size-8);
        letter-spacing: $letter-spacing-6;
        font-weight: $font-weight-medium;
    }
}

p,
ul,
ol,
a {
    margin: 0 0 $spacing-1 0;
    @include font-size($size-7);
    letter-spacing: $letter-spacing-4;
    font-weight: $font-weight-regular;

    &.small {
        @include font-size($size-8);
        letter-spacing: $letter-spacing-6;
    }
}

a {
    color: $off-black;
    text-decoration: none;
    display: inline-block;
}

.caption {
    margin: 0 0 $spacing-1 0;
    @include font-size($size-9);
    letter-spacing: $letter-spacing-8;
    font-weight: $font-weight-regular;
}

.overline {
    margin: 0 0 $spacing-1 0;
    @include font-size($size-9);
    letter-spacing: $letter-spacing-9;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
}

.error-text {
    color: $error-red;
}

.text-align-center {
    text-align: center;
}
