<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-7 w-full">
	<div>
		<label class="block text-sm font-medium text-gray-700 mb-2">First Name</label>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('firstname') }"
			placeholder="First Name"
			formControlName="firstname"
			type="text" />
		@if (isInvalid('firstname')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a first name.</p>
		}
	</div>

	<div>
		<label class="block text-sm font-medium text-gray-700 mb-2">Last Name</label>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('lastname') }"
			placeholder="Last Name"
			formControlName="lastname"
			type="text" />
		@if (isInvalid('lastname')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a last name.</p>
		}
	</div>

	<div>
		<label class="block text-sm font-medium text-gray-700 mb-2">Email</label>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('username') }"
			placeholder="username (email)"
			formControlName="username"
			type="text" />
		@if (isInvalid('username')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a valid email address.</p>
		}
	</div>

	<div>
		<label class="block text-sm font-medium text-gray-700 mb-2">Password</label>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('password') }"
			placeholder="Password"
			formControlName="password"
			type="password" />
		@if (isInvalid('password')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a password.</p>
		}
	</div>

	@if(loginErrorMessage) {
	<div>
		<p class="text-red-800 text-sm">{{ loginErrorMessage }}</p>
	</div>
	} @if(loginGenericMessage) {
	<div>
		<p class="text-gray-800 text-sm">{{ loginGenericMessage }}</p>
	</div>
	}

	<button
		type="submit"
		[disabled]="!canSubmit"
		[ngClass]="{ 'opacity-50 cursor-not-allowed': !canSubmit }"
		class="w-full bg-black text-white py-3 rounded-xl font-semibold hover:bg-gray-900 transition flex items-center justify-center">
		@if(registerLoading) {
		<app-loading-indicator [spinner]="true"></app-loading-indicator>
		} @else {
		<span>Sign Up</span>
		}
	</button>
</form>

