<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div class="mb-4">
		<div>
			<input
				class="w-full p-3 font-light mb-2 border border-gray-300"
				[ngClass]="{ 'border-red-800': isInvalid('firstname') }"
				placeholder="firstname"
				formControlName="firstname"
				type="text" />
			@if (isInvalid('firstname')) {
			<p class="text-red-800 mt-2 mb-4">You must enter a first name.</p>
			}
		</div>
		<div>
			<input
				class="w-full p-3 font-light mb-2 border border-gray-300"
				[ngClass]="{ 'border-red-800': isInvalid('lastname') }"
				placeholder="lastname"
				formControlName="lastname"
				type="text" />
			@if (isInvalid('password')) {
			<p class="text-red-800 mt-2 mb-4">You must enter a last name.</p>
			}
		</div>
		<div>
			<input
				class="w-full p-3 font-light mb-2 border border-gray-300"
				[ngClass]="{ 'border-red-800': isInvalid('username') }"
				placeholder="username (email)"
				formControlName="username"
				type="text" />
			@if (isInvalid('username')) {
			<p class="text-red-800 mb-4">You must enter a valid email address.</p>
			}
		</div>
		<div>
			<input
				class="w-full p-3 font-light border border-gray-300"
				[ngClass]="{ 'border-red-800': isInvalid('password') }"
				placeholder="password"
				formControlName="password"
				type="password" />
			@if (isInvalid('password')) {
			<p class="text-red-800 mt-2 mb-4">You must enter a password.</p>
			}
		</div>
	</div>

	@if(loginErrorMessage) {
	<div class="mb-4">
		<p class="text-red-800">{{ loginErrorMessage }}</p>
	</div>
	}

    @if(loginGenericMessage) {
        <div class="mb-4">
            <p class="text-grey-800">{{ loginGenericMessage }}</p>
        </div>
    }

	<button
		[disabled]="!canSubmit"
		[ngClass]="{ 'border-red-800': !canSubmit }"
		class="tracking-wider uppercase text-sm font-semibold bg-gray-800 text-white px-6 py-4 transition cursor-pointer"
		type="submit">
		@if(registerLoading) {
            <app-loading-indicator></app-loading-indicator>
		} @else {
		<span>Sign Up</span>
		}
	</button>
</form>

