<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-7 w-full">
	<div>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('username') }"
			placeholder="username (email)"
			formControlName="username"
			type="text" />
		@if (isInvalid('username')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a valid email address.</p>
		}
	</div>

	<div>
		<input
			class="w-full p-4 text-base border border-gray-200 rounded-xl focus:outline-none focus:border-black transition disabled:bg-gray-100"
			[ngClass]="{ 'border-red-800': isInvalid('password') }"
			placeholder="password"
			formControlName="password"
			type="password" />
		@if (isInvalid('password')) {
		<p class="text-red-800 mt-2 text-sm">You must enter a password.</p>
		}
	</div>

	@if (loginErrorMessage) {
	<div>
		<p class="text-red-800 text-sm">{{ loginErrorMessage }}</p>
	</div>
	}

	<div>
		<a href="#" class="text-blue-500 text-sm hover:underline">Forgot password?</a>
	</div>

	<button
		type="submit"
		[disabled]="!canSubmit"
		[ngClass]="{ 'opacity-50 cursor-not-allowed': !canSubmit }"
		class="w-full bg-black text-white py-3 rounded-xl font-semibold hover:bg-gray-900 transition flex items-center justify-center">
		@if(loginLoading) {
		<app-loading-indicator [spinner]="true"></app-loading-indicator>
		} @else {
		<span>Login</span>
		}
	</button>
</form>

