@import '../../scss/abstracts/variables';

.dashboard {
    display: grid;
    position: relative;

    @media screen and (min-width: $breakpoint-large) {
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }

    @media screen and (min-width: $breakpoint-largest) {
        grid-template-columns: 1fr 2fr;
    }

    &__left,
    &__right {
        @media screen and (min-width: $breakpoint-large) {
            height: 100vh;
        }
    }

    &__left {
        height: 75vh;
        padding: $spacing-3;
        overflow: scroll;

        @media screen and (min-width: $breakpoint-large) {
            padding: $spacing-5;
            height: 100vh;
        }
    }

    &__right {
        height: 75vh;

        @media screen and (min-width: $breakpoint-large) {
            position: fixed;
            right: 0;
            height: 100vh;
            width: 50%;
        }

        @media screen and (min-width: $breakpoint-largest) {
            width: 66.6666666%;
        }
    }

    &__tabs {
        padding: $spacing-3 0;
        text-align: center;
    }

    &__error {
        text-align: center;
        padding: $spacing-5 0;
    }
}
