@import '../../scss/abstracts/variables';

.dashboard {
    display: grid;
    min-height: 100vh;

    @media screen and (min-width: $breakpoint-extra-large) {
        grid-template-columns: 1fr 4fr;
    }

    &__right {
        padding: $spacing-5;
        height: 100%;
    }
}
