<div class="dashboard">
    <div class="dashboard__left">
        <div class="dashboard__user">
            <app-user-details></app-user-details>
            <button (click)="munroToggle()">toggle</button>
        </div>
        <div class="dashboard__munro-list" *ngIf="completedMunrosLoaded && incompleteMunrosLoaded">
            <p *ngFor="let item of selectedMunros"> {{ item.name }} </p>
        </div>
    </div>
    <div class="dashboard__right">
        <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map>
    </div>
</div>