<app-loading *ngIf="!incompleteMunrosLoaded"></app-loading>
<div class="munros" *ngIf="incompleteMunrosLoaded">
    <div class="card" *ngFor="let item of incompleteMunros">
        <div>
            <h6 class="header header--six">{{ item.name }}</h6>
            <p class="overline margin-bottom-2">{{ item.height }}m</p>
        </div>
        <a
            class="button button--green no-margin"
            (click)="markStatus($event, item._id)"
        >
            Complete
        </a>
    </div>
</div>
