@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.authentication {
    display: grid;

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__left,
    &__right {
        height: 50vh;
        padding: $spacing-2;
        @include flex-full-centered;

        @media screen and (min-width: 992px) {
            height: 100vh;
        }
    }

    &__left {
        background: url('../../assets/glencoe.jpg') center center no-repeat;
        background-size: cover;
        position: relative;
    }

    &__form {
        max-width: 40rem;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($black, 0.4);
    }

    &__intro {
        color: $white;
        z-index: 1;

        i {
            margin-bottom: $spacing-2;
        }
    }
}
