@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.authentication {
    display: grid;

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__left,
    &__right {
        height: 50vh;
        padding: $spacing-2;
        @include flex-full-centered;

        @media screen and (min-width: 992px) {
            height: 100vh;
        }
    }

    &__left {
        background: $blue;
    }

    &__form {
        max-width: 40rem;
    }

    &__intro {
        color: $white;
    }
}
