@import '../../../scss/abstracts/variables';

.munros {
    display: grid;
    grid-gap: $spacing-3;

    @media screen and (min-width: $breakpoint-extra-large) {
        grid-template-columns: repeat(2, 1fr);
    }
}
