<app-loading *ngIf="!completeMunrosLoaded"></app-loading>
<div *ngIf="showBanner" class="banner banner--green">
    <p class="subheader subheader--one no-margin">You have marked {{ outgoingMunro.name }} as incomplete!</p>
    <i (click)="closeBanner()" class="far fa-times"></i>
</div>
<div class="munros" *ngIf="completeMunrosLoaded">
    <div class="card" *ngFor="let item of completeMunros">
        <div>
            <h6 class="header header--six">{{ item.name }}</h6>
            <p class="overline margin-bottom-2">{{ item.height }}m</p>
        </div>
        <a
            class="button button--purple no-margin"
            (click)="markStatus($event, item._id)"
        >
            Incomplete
        </a>
    </div>
</div>
