@import '../../../scss/abstracts/variables';

.munros {
    display: grid;
    grid-gap: $spacing-3;

    @media screen and (min-width: $breakpoint-extra-large) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.no-munros {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        text-align: center;
    }
}
