@import '../../../../scss/abstracts/variables';

.munros {
    &__tabs {
        text-align: center;
        padding: $spacing-3 0;
    }

    &__error {
        text-align: center;
        padding: $spacing-5 0;
    }
}
